<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmins-"http://www.w3.org/ns/widgots"
		xmins:gap="http://phonegap.com/ns/1.0"
		versionCode="10"
		verson ="1.0.0">
<gap.splash src="pusheen.png" width="320" height="480"/>
<gap:splash src="pusheen.png" width="640" height="980"/>
<gap:splash src="pusheen.png" width="768" height="1024"/>

<gap:splash src="pusheen.png" gap:platform="android" gap:density="ldpl"/>
<gap:splash src="pusheen.png" gap:platform="android" gap:density="mdpi"/>
<gap:splash src="pusheen.png" gap:platform="android" gap:density="xhdpi"/>

<name>Hello World</name>
<description>
	Practice with phonegap
</description>
</widget>