<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns     ="http://www.w3.org/ns/widgots"
		xmlns:gap ="http://phonegap.com/ns/1.0"
		id        ="com.phonegap.example"
		verson    ="1.0.0">

<gap:splash src="pusheen.png" gap:platform="android"/>

<name>Hello World</name>
<description>
	Practice with phonegap
</description>
</widget>